.cardTitle {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  margin: 0px;
}
.cardSubTitle {
  text-align: center;
  font-size: 0.5rem;
  font-weight: 700;
  letter-spacing: 1ch;
  text-transform: uppercase;
  color: white;
  margin: 0px;
  text-overflow: ellipsis;
  transition: 300ms;
}

.thumbnail {
  cursor: pointer;
  min-width: 19vw;
  height: 13vw;
  border-radius: 1rem;
  background-color: white;
  background-image: url("https://i.pinimg.com/originals/ed/00/4b/ed004b904fad8a61094f993eab787e05.jpg");
  background-size: cover;
  margin-left: 2rem;
  overflow: hidden;
}
.thumbnailOverlay {
  width: 100%;
  height: 100%;
  background-color: #0084ff30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thumbnailTitle {
  text-align: center;
  font-size: vmax;
  font-weight: 400;
  text-transform: uppercase;
  color: #00000075;
  margin: 0px;
}
.thumbnail:hover .cardSubTitle {
  background-color: black;
  letter-spacing: 0.25ch;
  padding: 0.5rem;
  font-size: 0.75rem;
}

/**********************************************************************/

.poster {
  cursor: pointer;
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  transition: 300ms;
  overflow: hidden;
}
.poster:hover {
  background-color: #ffffff20;
}
.posterImage {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: 500ms;
}
.poster:hover .posterImage {
  transform: scale(1.75);
}
.poster .cardTitle {
  z-index: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.poster .cardSubTitle {
  z-index: 1;
}

/**********************************************************************/

.ticket {
  cursor: pointer;
  width: 100%;
  max-height: 40vw;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border-left: 0.25rem solid #ffffff00;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: 300ms;
}
.ticket:hover {
  border-left: 0.25rem solid #ffffff;
  background-color: #ffffff20;
}
.ticketDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
}
.ticketImage {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
.ticket .cardTitle {
  text-align: start;
}
.ticket .cardSubTitle {
  margin-top: 0.5rem;
  text-align: start;
}

/**********************************************************************/

@media only screen and (max-width: 600px) {
  .thumbnail {
    min-width: 65vw;
    height: 40vw;
  }

  .thumbnail .cardSubTitle {
    background-color: black;
    letter-spacing: 0.25ch;
    padding: 0.5rem;
    font-size: 0.75rem;
  }

  .ticket {
    width: calc(50vw - 3rem);
    border-left: 0.1rem solid #ffffff;
  }

  .ticketDetails {
    max-height: calc(50vw - 3rem);
  }

  .ticket .cardTitle {
    max-height: 3rem;
  }
  .ticket .cardSubTitle {
    max-height: 0.75rem;
    letter-spacing: 0.25ch;
  }
}
