.series {
  width: 100vw;
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.seriesNavContainer {
  box-sizing: border-box;
  width: min-content;
  height: fit-content;
  padding: 2.5rem 2rem;
}

.seriesMain {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: row;
  overflow: auto;
}
 


.seriesContent {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.video {
  width: 100%;
}
.video iframe {
  width: 100%;
  height: 100%;
}

.seriesDetails {
  box-sizing: border-box;
  width: calc(100% - 2rem);
  margin: 2rem 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}
.seriesDetailsRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.seriesDetails img {
  width: 20%;
  height: auto;
  border-radius: 0.5rem;
  margin-right: 1rem;
  display: block;
  align-self: flex-start;
}
.seriesTitle {
  color: #49df7b;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  white-space: normal;
}
.seriesStatus {
  color: #fff;
  font-size: 0.5rem;
  font-weight: 500;
  letter-spacing: 0.5ch;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.genres {
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.description {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  margin: 1rem 0 0 0;
  padding: 0;
  white-space: pre-line;
}




.episodesSection {
  box-sizing: border-box;
  min-width: fit-content;
  height: 100%;
  margin-left: 3rem;
  border: 0.01rem solid #ffffff30;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.episodeDetails {
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  padding: 1rem;
  background-color: #202020;
}

.episodeList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.episode {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.episode:hover {
  background-color: #202020;
}
.episode svg {
  width: 2rem;
  fill: #49df7b;
}
.episode h1 {
  margin: 0rem 2rem;
  white-space: nowrap;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
}
.episode-current {
  cursor: auto;
  background-color: #202020;
  border-top: 0.01rem solid #49df7b50;
  border-bottom: 0.01rem solid #49df7b50;
}

.episodeSegments {
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  padding: 1rem;
  background-color: #202020;
}




@media only screen and (max-width: 600px) {
  .series {
    box-sizing: border-box;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
  }

  .seriesNavContainer {
    width: 100%;
    padding: 0;
  }

  .seriesMain {
    padding: 0;
    flex-direction: column;
    overflow: hidden;
  }

  .seriesDetails {
    width: 100%;
    margin: 0;
    padding: 1rem;
    border-radius: 0;
    display: none;
  }
  .seriesDetails img {
    width: 30%;
  }
  .seriesTitle {
    width: 100%;
    white-space: normal;
  }

  .episodesSection {
    width: 100%;
    margin: 0;
    border: none;
  }
  .episode {
    box-sizing: border-box;
    margin: 0.5rem 0;
  }
}
