.series {
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
  }
  
.series h1,  span {
    color: #fff;
    margin: 0;
    padding: 0;
}

.navContainer {
    width: min-content;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem 2rem;
}

.scroller {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.seriesMain {
    width: 100%;
    display: flex;
    padding: 2rem 5rem;
    flex-direction: row;
    box-sizing: border-box;
}

.content {
    width: 70%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.video {
    width: 100%;
}

.video iframe {
    width: 100%;
    height: 100%;
}

.details {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #202020;
}

.details img {
    width: 20%;
    height: auto;
    margin-right: 1rem;
    align-self: center;
    display: block;
    object-fit: cover;
}

.details .seriesTitle {
    color: rgb(3, 194, 89);
    font-size: 2rem;
    font-weight: 600;
}

.seriesStatus {
    font-size: 0.5rem;
    font-weight: 400 lighter;
    letter-spacing: 0.25ch;
    text-transform: uppercase;
}

.genres {
    display: flex;
}

.episodes {
    width: min-content;
    background-color: gray;
}

@media only screen and (max-width: 600px) {
    .series {
      flex-direction: column-reverse;
      box-sizing: border-box;
      align-items: flex-start;
      justify-content: center;
    }
  
    .navContainer {
      height: min-content;
      width: 100%;
      box-sizing: border-box;
      padding: 0rem;
    }
    
    .seriesMain {
      width: 100%;
      height: 100%;
      padding: 1rem 0;
    }

    .content {
        width: 100%;
    }
}
  