.series {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.seriesNavContainer {
  width: min-content;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem 2rem;
}

.seriesMain {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: row;
  overflow: auto;
}



.seriesContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.video {
  width: 100%;
}
.video iframe {
  width: 100%;
  height: 100%;
}

.seriesDetails {
  box-sizing: border-box;
  width: calc(100% - 2rem);
  margin: 2rem 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.seriesDetailsRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.seriesDetails img {
  width: 20%;
  height: auto;
  border-radius: 0.5rem;
  margin-right: 1rem;
  display: block;
  align-self: flex-start;
}
.seriesTitle {
  color: #49df7b;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.seriesStatus {
  color: #fff;
  font-size: 0.5rem;
  font-weight: 500;
  letter-spacing: 0.5ch;
  text-transform: uppercase;
  margin: 0 0 0 1rem;
  padding: 0;
  vertical-align: top;
}
.genres {
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.description {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  margin: 1rem 0 0 0;
  padding: 0;
}




.episodes {
  width: min-content;
  height: 100%;
  box-sizing: border-box;
  padding-left: 4rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}

.episode {
  cursor: pointer;
  width: 100%;
  height: min-content;
  background-color: #202020;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.episode svg {
  width: 2rem;
  fill: #49df7b;
}
.episode h1 {
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0rem 1rem;
}
.episode-current {
  cursor: auto;
  background-color: #20202000;
}



@media only screen and (max-width: 600px) {
  .series {
    flex-direction: column-reverse;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
  }

  .seriesNavContainer {
    height: min-content;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
  }

  .seriesMain {
    width: 100%;
    height: 100%;
    padding: 0;
    flex-direction: column;
  }

  .seriesContent {
    width: 100%;
  }
  .seriesDetails img {
    width: 30%;
  }

  .episodes {
    width: 100%;
    padding: 1rem 0;
  }
  .episode {
    box-sizing: border-box;
    margin: 0.5rem 0;
  }
}
