
.loadingContainer {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
}

.dualRing {
    width: 3rem;
    height: 3rem;
    align-self: center;
}

.dualRing::after {
    content: " ";
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid rgb(154, 233, 108);
    border-color: rgb(154, 233, 108) transparent rgb(154, 233, 108) transparent;
    animation: dualRing 1.2s linear infinite;
}

@keyframes dualRing {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

