.notificationCard {
    background-color: #202020a0;
    border-left: 0.25rem solid #49df7b;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 2rem;
    justify-items: center;
    transition: 1000ms;
}
.notificationCard:hover {
    background-color: #202020d0;
    border-right: 0.25rem solid #49df7b;
}

.notificationCard h2 {
    letter-spacing: 0.1ch;
    padding: 0;
    color: #49df7b;
    margin-bottom: 1rem;
}

.notificationCard p {
    color: #fff;
    font-weight: 500;
    white-space: pre-wrap;
}

.notificationCard button {
    outline: none;
    border: 0.1rem solid #49df7b00;
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding: 0.5rem  1.25rem;
    cursor: pointer;
    color: #49df7b;
    background-color: #202020;
    transition: 500ms;
}

.notificationCard button:hover {
    background-color: #49df7b20;
    border: 0.1rem solid #49df7b;
}

