:root {
  font-size: 15px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}


.App {
  background-color: #000000;
  height: 100vh;
  padding: 1rem;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: left;
}

.home {
  flex: 2;
  height: 100%;
  background-color: black;
}

.series {
  flex: 1;
  height: 100%;
  background-color: gray;
  border-radius: 5%;
}
