.infoCard {
    /* background-color: #202020; */
    background: none;
    border-left: 0.25rem solid rgb(3, 194, 89);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 2rem;
    justify-items: center;
}

.infoCard h2 {
    letter-spacing: 0.1ch;
    padding: 0;
    color: rgb(3, 194, 89);
    margin-bottom: 1rem;
}

.infoCard p {
    color: #fff;
    font-weight: 500;
    white-space: pre-wrap;
}

.infoCard button {
    outline: none;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem  1rem;
    cursor: pointer;
    color: #fff;
    background-color: #202020;
}

.infoCard button:hover {
    background-color: #20202090;
}