.settings {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    background-color: #000;
}

.settingsNavContainer {
    width: min-content;
    height: 100%;
    box-sizing: border-box;
    padding: 2.5rem 2rem;
}

.settingsMain {
    width: 100%;
    height: 100%;
    padding: 2rem 3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .settings {
      flex-direction: column-reverse;
      box-sizing: border-box;
      align-items: flex-start;
      justify-content: center;
    }
  
    .settingsNavContainer {
      height: min-content;
      width: 100%;
      box-sizing: border-box;
      padding: 0rem;
    }
  
    .settingsMain {
      width: 100%;
      height: 100%;
      padding: 1rem;
      padding-bottom: 5rem;
    }
  }
  