
.navbar {
  height: 100%;
  background-color: #24242400;
  border-radius: 1rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  transition: 300ms ease;
}
.navbar:hover {
  background-color: #252525;
}

.logo {
  width: auto;
  margin-bottom: 1rem;
  background: var(--bg-primary);
}
.logo svg {
  width: 5rem;
  fill: #49df7b;
  transform: rotate(0deg);
  transition: transform 600ms;
}
.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.nav-item {
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  transition: 600ms;
}
.nav-item:hover {
  background-color: var(--bg-secondary);
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-item svg {
  width: 1.5rem;
  fill:#ffffff;
  transition: 600ms;
}
.nav-item:hover svg {
  fill: #49df7b;
 }


/* small screens only */
@media only screen and (max-width: 600px) {
  .navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--bg-secondary);
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .nav-item:last-child {
    margin-top: 0;
  }

  .logo {
    display: none;
  }

}
