.navbar {
  width: min-content;
  height: 100%;
  background-color: #20202000;
  border-radius: 1rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: visible;
  transition: 300ms ease;
}
.navbar:hover {
  background-color: #202020;
}

.logo {
  box-sizing: border-box;
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  overflow: visible;
}
.logo svg {
  width: auto;
  fill: #49df7b;
  transition: transform 600ms;
  transform: scale(1.25);
}
.navbar:hover .logo svg {
  transform: scale(1);
}

.nav-item {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  transition: 600ms;
  overflow: hidden;
}
.nav-item:hover {
  background-color: #101010;
}
.nav-item:last-child {
  margin-top: auto;
}

.nav-item svg {
  width: 1.5rem;
  fill: #ffffff;
  transition: 600ms;
}
.nav-item:hover svg {
  fill: #49df7b;
}

.is-active.nav-item {
  background-color: #ffffff20;
  box-sizing: border-box;
  border-left: 0.25rem solid #49df7b;
}
.is-active svg {
  fill: #49df7b;
}

/* small screens only */
@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    height: 3.75rem;
    border-radius: 1rem 1rem 0 0;
    background-color: #202020;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
  }

  .nav-item {
    padding: 1rem;
  }

  .is-active.nav-item {
    background-color: #ffffff20;
    box-sizing: border-box;
    border-left: 0rem solid #49df7b00;
    border-bottom: 0.25rem solid #49df7b;
  }
  .nav-item:last-child {
    margin-top: 0;
  }

  .logo {
    display: none;
  }
}

